


@model IEnumerable<Category>  


@{
    ViewData["Title"] = "Index";
  
    
}



<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <partial name="_Notification" />
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
        <div class="container-fluid py-1 px-3">

   
        </div>
    </nav>
    <!-- End Navbar -->

    <div class="container-fluid py-4">
       

       
        <div class="row">
            <div class="col-12">
                <div class="card my-4">

                    <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                       
                  <a asp-controller="Category" asp-action="Create" class="btn btn-primary ">create</a> 

                       
                      
                        <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                            <h6 class="text-white text-capitalize ps-3">Categories Management</h6>
                        </div>
                        <div class="pull-left">

                        </div>

                    </div>
                    <div class="card-body px-0 pb-2">
                        <div class="table-responsive p-0">
 
                            <table id="myTable" class="table align-items-center mb-0 ">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">name</th>
                                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">datetime</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">action</th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                  @foreach(var category in Model)
                                    {
                                           <tr>
                                        <td>
                                            <div class="d-flex px-2 py-1">

                                                <div class="d-flex flex-column justify-content-center">
                                                    <h6 class="mb-0 text-sm">   @category.Id</h6>

                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">  @category.Name</p>

                                        </td>
                                        <td>
                                            <p class="text-xs font-weight-bold mb-0">  @category.CreatedDate</p>

                                        </td>
                                    

                                        <td class="align-middle">
                                          
                        <a asp-controller="Category" asp-action="Edit" asp-route-id=" @category.Id" class="btn btn-warning ">Edit</a>                                          
                                      
                                            <a class="btn btn-danger " asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id"  onclick="return confirm('are you sure ?');">Delete</a>
                                                                                                         

                                        </td>
                                    </tr> 
                                    }
                                
                                  
                                </tbody>
                            </table>
                  
   


                        </div>

                    </div>

                </div>
             
                </div>

            </div>
            </div>
    </main>

  @section Scripts{
      <script>
      $(document).ready(function () {
    $('#myTable').DataTable({
      
    });
});
      </script>
  }